<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/admin_header.ejs') %>
    <div class="container">
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>
    </div>
    <script type="text/javascript" defer src="/js/script.js"></script>
</body>
</html>